.footer{
	height: 0.98rem;
	background: white!important;
	position: fixed;
	width: 100%;
	bottom: 0;
	border-top: 1px solid #E5E4E4;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
}
.footer a{
	width: 100%;
	text-align: center;
}
.footer .mui-icon{
	width: 0.46rem!important;
	height: 0.46rem!important;
	display: block;
	margin: 0.1rem auto 0.08rem;
}
.footer .mui-tab-label{
	font-size: 0.24rem!important;
	line-height: 0.24rem;
}
.mui-bar{
	border-top: 0.01rem solid #ebebeb;
	box-shadow: none;
	-webkit-box-shadow: none;
	background: none;
}
.footer .mui-active{
	color: #00abe6!important;
}
