.mine{
	height: 2.6rem;
	display: flex;
	align-items: center;
	position: relative;
}
.mine:after{
	content: '';
	position: absolute;
	right: 0.34rem;
	width: 0.18rem;
	top: calc(50% - 0.15rem);
	height: 0.3rem;
	background: url(../img/rt.jpg) no-repeat;
	background-size: 100% 100%;
}
.mine .tx{
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 0.04rem;
}
.me_infor{
	padding-left: 0.3rem;
	display: inline-block;
}
.me_infor p{
	font-size: 0.38rem;
	color: #1A1A1A;
	font-weight: 600;
	padding-bottom: 0.1rem;
}
.me_infor span{
	color: #666666;
}
