.cont .create-right{
	background: url(../img/create-right.png) no-repeat;
	background-size: 100% 100%;
	width: 0.18rem;
	height: 0.28rem;
	position: absolute;
	right: 0.34rem;
	transform: translateY(-50%);
	top: 50%;
}
.dtime{
	margin-left: 0.39rem;
}
select{
	margin: 0;
	flex: 1;
	color: #1A1A1A;
	font-size: 0.32rem;
	padding: 0;
	margin-left: 0.39rem;
	line-height:1.26rem;
    height:1.26rem;
}

